/* css styles */

a:visited {
  color: #85B09A !important;
}

a:hover {
  color: #00416A !important;
}

body {
  background-color: #fbfeb2 !important;
}

.navbar {
  background-color: #bee893 !important;
}

.navbar-nav .nav-link {
      color: #395B50 !important
}