/* Body background */
body {
  background-color: #f8f4c7 !important;
}

/* Navbar background */
.navbar.navbar {
  background-color: #f8f4c7 !important;
}

/* Navbar links */
.navbar-nav .nav-link {
  color: #855C40 !important;
}

.navbar-nav .nav-link:hover {
  color: #c4d9a9 !important;
}

/* Visited links */
a:visited {
  color: #dbbf9e !important;
}

a:hover {
  color: #dbbf9e !important;
}